/* Hauptwerte im body-Tag */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    font-family: Arial;
}

/* Definition des gesamten Website-Körpers */
.Koerper {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Defintion der Werte des header-Tags */
header{
    width: 100%;
}

/* Definition des Header-Bereichs */
.Vorspann {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Definition der Überschrift */
.Ueberschrift1 {
    font-size: 3rem;
}

/* Defintion des kleinen Textes unter der Hauptüberschrift */
.Text1 {
    color: white;
    margin-bottom: 75px;
}

/* Definition der Navbar */
.Navigationsbar {
    width: 100%;
    display: inline-block;
    height: 50px;
    background-color: #333;
    align-content: center;
}

/* Defintion der Anker in der Navbar */
.Navigationsbar a {
    color: white;
}
